<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>使用本地存储更加节约内存，但是速度慢。建议内存不足时，或者在低端设备上使用</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>useStorage</string>
			<key>Title</key>
			<string>使用本地存储</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>搜索范围</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0x00000000</string>
			<key>Key</key>
			<string>rangeFrom</string>
			<key>Title</key>
			<string>从</string>
			<key>KeyboardType</key>
			<string>103</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0x10000000</string>
			<key>Key</key>
			<string>rangeTo</string>
			<key>Title</key>
			<string>到</string>
			<key>KeyboardType</key>
			<string>103</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string></string>
			<key>Title</key>
			<string>关于我们</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonDemoAction3</string>
			<key>Title</key>
			<string>建议反馈</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>abount</string>
			<key>Title</key>
			<string>关于</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
