<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>imemDaemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>imemTweak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8054ED4196DB6E8004CC80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836537A1997D7F300147B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFF4BE31966A579000C7128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFF4BFE1966A579000C7128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
