[submodule "submodules/TKKeyBoard"]
	path = submodules/TKKeyBoard
	url = https://github.com/luobin23628/TKKeyBoard.git
[submodule "submodules/CustomActionSheetAndAlert"]
	path = submodules/CustomActionSheetAndAlert
	url = https://github.com/luobin23628/CustomActionSheetAndAlert.git
[submodule "submodules/InAppSettingsKit"]
	path = submodules/InAppSettingsKit
	url = https://github.com/luobin23628/InAppSettingsKit.git
