Package: com.luobin.command.imem.im
Name: im
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: luobin
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

